<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo práctico Heroes</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Edith Clarke (1883-1959)</h1>

    <img src="img/clarke.jpg" alt="Imagen de Clarke">

    <p>Edith Clarke (Howard, 10 de febrero de 1883 - Maryland, 29 de octubre de 1959) fue la primera ingeniera eléctrica estadounidense y la primera profesora de ingeniería eléctrica en la Universidad de Texas en Austin (Estados Unidos). Se especializó en análisis de sistemas de energía eléctrica y escribió el manual Circuit Analysis of A-C Power Systems</p>

<ul>
    <h3>Índice:</h3>
    <li><a href="./babbage.html">Babbage</a></li>
    <li><a href="./berners-lee.html">Berners Lee</a></li>
    <li><a href="./hamilton.html">Hamilton</a></li>
    <li><a href="./hopper.html">Hopper</a></li>
    <li><a href="./lovelace.html">Lovelace</a></li>
    <li><a href="./turing.html">Turing</a></li>
    <li><a href="/">Volver</a></li>
</ul>
</body>
</html>