<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo práctico Héroes</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

</head>
<body>
    <h1><u>Heroínas y Héroes Tecnológicos</u></h1>

    <div class="imagen-fondo">
        <img src="img/fondo.jpg" alt="Imagen de codigo de programación">
    </div>



<ul>
    <h3>Índice:</h3>
    <li><a href="./babbage.html">Babbage</a></li>
    <li><a href="./berners-lee.html">Berners Lee</a></li>
    <li><a href="./clarke.html">Clarke</a></li>
    <li><a href="./hamilton.html">Hamilton</a></li>
    <li><a href="./hopper.html">Hopper</a></li>
    <li><a href="./lovelace.html">Lovelace</a></li>
    <li><a href="./turing.html">Turing</a></li>
</ul>
</body>
</html>